{# comment.html.twig #}
<h3>Comment on the review</h3>
{{ form_start(commentForm) }}
    {{ form_row(commentForm.content) }}
    <button type="submit">Submit Comment</button>
{{ form_end(commentForm) }}
